<?xml version="1.0" encoding="UTF-8"?>

<configuration>
    <statusListener class="ch.qos.logback.core.status.OnConsoleStatusListener" />
    
    <include resource="org/springframework/boot/logging/logback/defaults.xml" />
    <include resource="org/springframework/boot/logging/logback/console-appender.xml" />
    
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>debug.%d{yyyy-MM-dd_HH-mm-ss}.log</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy
                    class="samples.springboot.support.logging.logback.HalfMinuteSupportingFNATP"></timeBasedFileNamingAndTriggeringPolicy>
            <maxHistory>5</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %msg%n</pattern>
        </encoder>
    </appender>
    
    <appender name="MY_CONSOLE" class="samples.springboot.support.logging.logback.appender.MyConsoleAppender" />
    
    <root level="DEBUG">
        <if condition='!property("spring.profiles.active").contains("production")'>
            <then>
                <appender-ref ref="CONSOLE" />
            </then>
        </if>
        <appender-ref ref="FILE" />
        <appender-ref ref="MY_CONSOLE" />
    </root>
</configuration>