<html>
<head>
    <title>Thymeleaf Test</title>
    
    <script src="/webjars/jquery/2.1.4/jquery.min.js"></script>
    <script src="/webjars/jquery/jquery.min.js"></script>
</head>

<body>
<div attribute-without-value>
    This is a Thymeleaf test.
</div>

<div th:switch="${name}">
    <p th:case="null">N/A</p>
    <p th:case="*" th:inline="text">Your name is [[${name}]].</p>
</div>

<th:block th:text="${name}"></th:block>

[<th:block th:text="${age}"></th:block>]

<th:block th:text="${html}"></th:block>

<th:block th:utext="${html}"></th:block>

<p th:inline="text">[[${html}]]</p>
</body>
</html>
